body
{
    background-color: salmon;
}
main
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
.singleGrid
{
    grid-template-columns: 1fr;
}
header
{
    position: sticky;
    top:0px;
    left:0px;
    background-color: salmon;
    height:40px;
}
nav
{
    position: sticky;
    top:40px;
    left:20px;
}
#navBar
{
  
    list-style: none;
    background-color:lightcoral;
}
.navItem a
{
    text-decoration: none;
    color: black;
    display: block;
}
.navItem a:hover
{
    background-color: red;
    width:100%;
    height:100%;
}
.navItem
{
    display: inline-block;
    text-align: center;
    padding: 5px 4px 5px 5px;
    border-right: 1px black solid;
}
.navItem:last-child
{
    border:none;
    padding:5px;

}
.subHeader
{
    background-color: turquoise;
    display:block;
    text-align: center;
    margin-top: 0%;
}
.info, .stateList
{
    background-color: yellow; 
    margin: 0px 5%;
    display: block;
    margin-bottom: 5%;
}
.stateList>li
{
    font-weight: bold;
}
.gridContainer
{
    min-height: 320px;
    margin:5% 10% 10% 10%;
    border: 10px double maroon;
}
.DOMfigure, #figureType
{
    display: none;
    height: 0px;

}
figure
{
    border: 2px solid black;
}
.buttonExample
{
    margin-left: 5%;
}
#operatorTable
{
    background-color: lightsteelblue;
    display: block;
    width:75%;
    padding: 5%;
}
#operatorTable, #operatorTable thead tr th, #operatorTable tbody tr td
{
    border: 1px black solid;
}
#tableContainer
{
    align-content: center;
    margin-left: 10%;
}
thead, table, tbody, tr
{
    width:100%;
}
th, td
{
    width: 20%;
    text-align: center;
}
.headerExampleText
{
    margin-left: 5%;
}
